@font-face {
  font-family: "Avenue";
  src: url("../../assets/fonts/AvenueX.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.info-text-container {
  width: 75%;
  overflow: auto;
  z-index: 9999;
}

@media (max-width: 764px) {
  .info-text-container {
    width: 100%;
  }
}

.info-text {
  height: 100%;
  width: 100%;
  font-family: "Avenue";
  font-size: 1rem;
  overflow: auto;
  padding: 15px;
  mix-blend-mode: difference;
  text-align: justify;
}
