@font-face {
  font-family: "Humane";
  src: url("../../assets/fonts/Humane-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  height: 7.5%;
  border: 0.5px solid;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.home {
  font-family: "Humane", sans-serif;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 4rem;
  color: black;
}

.navbar .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  cursor: pointer;
}

.menu-item {
  margin: 0.25rem;
  cursor: pointer;
  color: black;
}
