@font-face {
  font-family: "Migha";
  src: url("../../assets/fonts/Migha-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Humane";
  src: url("../../assets/fonts/Humane-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  height: 7.5%;
  border: 0.5px solid;
  background-color: white;
  opacity: 75%;

  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.home {
  font-family: "Humane", sans-serif;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: black;
}

.home .text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .menu {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  cursor: pointer;
}

.menu-item {
  margin: 0.25rem;
  cursor: pointer;
  color: black;
}
