.archive-grid {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
  grid-auto-rows: 50%;
  gap: 0.5rem;
  overflow: auto;
}

@media (max-width: 764px) {
  .archive-grid {
    grid-template-columns: repeat(1, 1fr); /* 3 equal columns */
    gap: 0.25rem;
  }
}

.archive-pair {
  position: relative;
  width: 100%;
  height: 100%;
}

.archive-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.archive-item-foreground {
  z-index: 2;
}

.archive-item-background {
  z-index: 1;
  rotate: 180deg;
}
