.full-archive-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1;
  overflow-y: auto;
  gap: 0.5rem;
  padding-top: 11vh;
}

@media (max-width: 764px) {
  .full-archive-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
  }
}

.timestamp {
  bottom: 0;
  width: 100%;
  position: absolute;
  font-family: "Disket";
  padding: 5px;
  color: white;
  mix-blend-mode: soft-light;
}

.full-archive-grid-item {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skeleton-item {
  height: 200px;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.skeleton-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent, #ffffff66, transparent);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

.archive-html-wrapper {
  /* Absolutely position inside padding box */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Scope injected content */
.archive-html-wrapper * {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  display: block;
  transform: scale(1) !important;
}

/*  current session */
.archive-grid {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 100%;
  gap: 0.5rem;
  overflow: auto;
}

@media (max-width: 764px) {
  .archive-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.25rem;
  }
}

.archive-pair {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.archive-visual {
  width: 100%;
  height: 100%;
}

.archive-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.archive-item-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.archive-item-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.buttons-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7.5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}

@media (max-width: 764px) {
  .buttons-container {
    align-items: flex-end;
    justify-content: center;
    padding: 0.25rem;
  }
}

.button {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-family: "Humane";
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 70%;
  border: 0.5px solid;
  border-radius: 1rem;
  opacity: 0.75;
  transition: background-color 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

@media (max-width: 764px) {
  .button {
    width: 100%;
  }
}

/* scrollbar styling */
.archive-grid {
  background: transparent;
}

.archive-grid::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

.archive-grid::-webkit-scrollbar-track {
  background: transparent;
}

.archive-grid::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25); /* Or white, depending on your theme */
  border-radius: 10px;
}

/* Firefox */
.archive-grid {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}
