* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.navbar-overlay {
  position: relative;
  z-index: 10;
  flex: 0 0 auto;
}

.footer-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  flex: 0 0 auto;
}

.info-container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  align-items: center;
}
